a {
  color: #2e3a59;
}

footer {
  margin: 48px;
}

.word-pair {
  color: transparent;
}

@media (max-width: 430px) {
  footer {
    margin: 10px 5px;
  }
  container {
    max-width: 375px;
    margin: 0 auto;
  }
}
